<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>


<a href="" class="btn btn-outline-danger"></a> |
<a href="" class="btn btn-outline-dark"></a> |
<a href="" class="btn btn-outline-danger"></a> |

<br><br>

<div class="col-md-5">

<h1>{{name}}</h1>
    {{ datatorender.to_html(classes="table table-striped text-center") | safe}}

</div>

</body>
</html>