<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph. Visualize</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <a href="/" class="btn btn-outline-warning">Back</a>
<center>

    <h1 class="jumbotron">ONE DATA</h1>
   <h3>Manage, Analyze, Visualize, Tabulate your data</h3>

    <figure>
        <embed src="/graph1" type="image/svg+xml"
               width="500">
    </figure>

    <figure>
        <embed src="/graph2" type="image/svg+xml"
               width="500">
    </figure>

    <figure>
        <embed src="/graph3" type="image/svg+xml"
               width="500">
    </figure>
</center>


</body>
</html>