<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<center>
   <h1 class="jumbotron">WELCOME TO MY DASHBOARD</h1>
   <h3>Manage, Analyze, Visualize, Tabulate your data</h3>
   <a href="" class="btn btn-info">SALARIES</a> /
   <a href="" class="btn btn-info">LOANS</a> /
   <a href="/details" class="btn btn-info">DETAILS</a> /
   <a href="/analysis" class="btn btn-info">ANALYSIS</a> /
    <a href="/add" class="btn btn-info">VISUAL</a> /
   <a href="/aboutus" class="btn btn-info">ABOUT US</a> /
   <a href="/contact" class="btn btn-info">CONTACT US</a>
   <hr>


   <img src="../static/image2.jpg"
        alt="" width="600">

   <p>Lorem ipsum dolor sit amet, co
       nsectetur adipisicing elit. Adipisci, obcaecati, odio? Architecto deleniti dicta nulla provident. Aliquam, at deleniti dicta doloremque dolorum ex, harum, laudantium mollitia
       numquam quos ut veniam.</p>

  <p>Lorem ipsum dolor sit amet, conse
      ctetur adipisicing elit. Ad adipisci, alias blanditiis dolores fugiat magnam minus molestiae nostrum nulla pariatur provident quidem, rem sed ullam velit? C
      umque dicta illo obcaecati.</p>

   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid amet animi deleniti dolor dolorum esse eum eveniet, facere iste laudantium molestiae pariatur, provident, quis quod
       repudiandae rerum sit veniam!</p>
</center>

</body>
</html>


