<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<center>
   <h1 class="jumbotron">ONE DATA</h1>
   <h3>Manage, analyze, tabulate your data</h3>

    <a href="" class="btn btn-outline-warning">Manage</a> /
    <a href="" class="btn btn-outline-warning">Analyze</a> /
    <a href="" class="btn btn-outline-warning">Visualize</a> /


   <hr>
    <form action="/" class="">
        <input type="text" placeholder="Enter Your Username" required>
        <br><br>
        <input type="password" placeholder="Enter Your Password" required>
        <br><br>
        <input type="submit" class="btn btn-outline-success">
    </form>


    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aspernatur dignissimos exercitationem ipsam maxime mollitia nesciunt nobis numquam, quod sapiente, temporibus voluptatum. Asperiores, impedit pariatur perspiciatis provident qui rem?</p>
</center>

</body>
</html>


