<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save Employee</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <h1 class="jumbotron text-center">New Employees</h1>

  <h3>{{ msg }}</h3>
  <form action="/search" method="post" class="text-center">
      <input type="text" name="gender"
             placeholder="Enter Gender" required>
      <br><br>

      <input type="submit" class="btn btn-success"
             value="Search Employee">
  </form>






</body>
</html>